.AuthorizedBlock {
  width: 100vw;
  height: 100vh;
  background-color: #f4f7fe;
  padding-top: 100px;
}

.AuthorizedForm {
  margin: 0 auto;
  max-width: 400px;
  background-color: #ffffff;
  padding: 35px 25px;
  border-radius: 20px;
}
